$color-bg: #fff;
$color-bg-sec: rgb(240, 240, 240);
$color-font: #000;
$color-font-sec: rgb(109, 109, 109);
$color-hover: rgb(93, 217, 255);

$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;


.Blog-container{
    text-align: center;

    .slick-carousel{
        .slick-container{
            position: relative;
            overflow: hidden;
            @media (max-width: $small) {
                .slick-next,.slick-prev{
                    opacity: 1;
                    transform: translateY(-50%) scale(1);
                }
            }
            &:hover{
                .slick-next,.slick-prev{
                    opacity: 1;
                    transform: translateY(-50%) scale(1);
                }
            }
            .slick-item{
                border: 1px solid rgba($color-font-sec, $alpha: 0.2);
                border-radius: 10px;
                overflow: hidden;
                .img-container{
                    cursor: pointer;
                    overflow: hidden;
                    .img{
                        min-height: 250px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: scale(1);
                        transition: $transition;

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .blog-content{
                    text-align: left;
                    padding: 10px;
                    padding-top: 0;
                    strong{
                        font-size: 15px;
                        margin: 10px 0;
                        display: block;
                        transition: $transition;
                        cursor: pointer;
                        font-weight: 500;
                        &:hover{
                            color: $color-hover;
                        }
                    }

                    p{
                        font-size: 14px;
                        color: $color-font-sec;

                        &.admin-sec{
                            background-color: rgba($color-font-sec, $alpha: 0.1);
                            padding: 0 5px;
                            margin-bottom: 10px;
                        }
                        span{
                            color: $color-font;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}