$color-bg: #fff;
$color-bg-sec: rgb(240, 240, 240);
$color-font: #000;
$color-font-sec: rgb(109, 109, 109);
$color-hover: rgb(93, 217, 255);

$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    min-height: 600px;
    @media (max-width: 1000px) {
        min-height: 470px;
    }
    @media (max-width: $ex-medium) {
        min-height: 450px;
    }

    @media (max-width: 800px) {
        min-height: 400px;
    }

    @media (max-width: $medium) {
        grid-template-columns: 1fr;
        min-height: 1000px;
    }

    @media (max-width: $extraSmall) {
        display: block;
    }

    .grid-item{
        position: relative;
        @media (max-width: $extraSmall) {
            min-height: 400px;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .grid-sec{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;

        @media (max-width: $extraSmall) {
            min-height: 400px;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        button{
            position: absolute;
            width: 110px;
            height: 40px;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
        }
        .grid-item{
            background-image: url("https://cdn.shopify.com/s/files/1/0332/6420/5963/files/young-beautiful-woman-looking-trendy-girl-casual-summer-clothes-positive-funny-model-winking_720x.jpg?v=1606209527");
            background-size: cover;
            background-position: center;
            //
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: $transition;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
    

    .right-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        @media (max-width: $extraSmall) {
            grid-template-columns: 1fr;
        }
        
        .grid-one{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px;
            @media (max-width: $extraSmall) {
                grid-template-columns: 1fr;
            }

            .top{
                background-image: url("https://cdn.shopify.com/s/files/1/0332/6420/5963/files/bag2_360x.jpg?v=1581730050");
                background-size: cover;
                background-position: center;
            }
            .bottom{
                background-image: url("https://cdn.shopify.com/s/files/1/0332/6420/5963/files/lemai3020112688_m4_2-0_360x.jpg?v=1606229788");
                background-size: cover;
                background-position: center;
            }
        }

        .grid-two{
            background-image: url("https://cdn.shopify.com/s/files/1/0332/6420/5963/files/p24-21_360x.jpg?v=1581731327");
            background-size: cover;
            background-position: center;
        }
    }
}


.css-1uccc91-singleValue{
    color: red;
    background-color: red;
}

.css-yk16xz-control {
    border: none;
}