
$color-bg: #fff;
$color-bg-sec: rgb(240, 240, 240);
$color-font: #000;
$color-font-sec: rgb(109, 109, 109);
$color-hover: rgb(93, 217, 255);

$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;

.slick-div{
    position: relative;
    .slick-content{
        display: none;
    }
}

.slick-active{
    .slick-content{
        display: block;
    }
}

.slick-content{
    position: relative;
    .img-container{
        position: absolute;
        background-color: yellow;
        img{

        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 500px;
        margin-left: $padding-margin-lg;
        h1{
            font-size: $heading-sm;
        }
        button{
            margin-top: $padding-margin-ex-sm;
            width: 140px;
            height: 40px;
        }
    }
}

.slick-dots{
    position: absolute;
    bottom: 10px;
    li{
        button{
            background-color: $color-font-sec;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $color-font;
                opacity: 1;
                border-radius: 50%;
                transition: $transition;
            }
        }
    }
    .slick-active{
        button{
            &::before{
                top: 0;
            }
        }
    }
}