@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

$color-bg: #fff;
$color-bg-sec: rgb(240, 240, 240);
$color-font: #000;
$color-font-sec: rgb(109, 109, 109);
$color-hover: rgb(93, 217, 255);

$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;
$logo-font: 'Lalezar', cursive;


nav{
    width: calc(100vw - (100vw - 100%));
    .nav-container{
        display: flex;
        flex-direction: column;

        .top-nav{
            background-color: $color-bg-sec;
            padding: 5px 10px;

            @media (max-width: 320px) {
                flex-direction: column;
                display: none;
            }
            .top-nav-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: $medium) {
                    flex-direction: column;
                }

                .right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                span{
                    font-size: 12px;
                    color: $color-font-sec;
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $small) {
                        font-size: 12px;
                    }
                    .spacial{
                        color: red;
                    }
                    i{
                        font-size: 25px;
                    }
                }

                .left{
                    display: flex;
                    span:first-child{
                        margin-right: 10px;
                    }
                }

                .right{
                    span:last-child{
                        margin-left: 10px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .bottom-nav{
            background-color: $color-bg;
            padding: $padding-margin-ex-sm 5px;
            .bottom-nav-container{
                display: flex;
                align-items: center;
                justify-content: space-between;

                //here menu

                //
                .logo-container{
                    flex: 1;
                    text-align: left;
                    .logo{
                        @media (max-width: $medium) {
                            text-align: center;
                        }

                        a{
                            font-size: $h1;
                            font-family: $logo-font;
                        }
                    }
                }

                .links-container{
                    flex: 2;
                    text-align: center;
                    @media (max-width: $medium) {
                        display: none;
                    }
                    ul{
                        width: 70%;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        @media (max-width: $ex-medium) {
                            width: 100%;
                        }
                        li{
                            a{
                                display: block;
                                font-size: $font-base;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: 500;
                                transition: $transition;
                                color: $color-font;
                                &:hover{
                                    color: $color-hover;
                                }
                                &.active{
                                    color: $color-hover;
                                }
                            }
                        }
                    }
                }

                .nav-btn-container{
                    flex: 1;
                    text-align: right;
                    ul{
                        max-width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-left: auto;
                        margin-right: 5px;
                        @media (max-width: $small) {
                            justify-content: flex-end;
                        }
                        li{
                            @media (max-width: $small) {
                                margin-left: 20px;
                            }
                            button{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: transparent;
                                border: none;
                                font-size: $h4;
                                cursor: pointer;
                                position: relative;
                                &:focus{
                                    outline: none;
                                }

                                span{
                                    position: absolute;
                                    padding: 0 2px;
                                    background-color: $color-font;
                                    color: $color-bg;
                                    font-size: 12px;
                                    border-radius: 10px;
                                    top: -10px;
                                    right: -5px;
                                    max-height: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                            &.user,&.like{
                                @media (max-width: $small) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.full-drawer{
    min-width: 100vw;
    width: 100vh;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}
.drawer-container{
    min-width: 400px;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    overflow: hidden;
    @media (max-width: $small) {
        min-width: 280px;
        max-width: 300px;
    }

    .top-container{
        display: flex;

        h3{
            flex: 1;
            text-align: center;
            font-weight: 400;
        }
    }
    
    .close-btn{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: scale(1);
        &:hover{
            background-color: $color-bg-sec;
            color: $color-font;
            transform: scale(1.1);
        }
    }
}

// -------------------------------------------this is menu container 

.menu-drawer{
    min-height: 100vh;
    .top-container{
        background-color: $color-font;
        padding: 20px 10px;
        .menu-container{
            order: 2;
            flex: 1;
            text-align: right;
            .menu{
                display: inline-block;
                cursor: pointer;
                .menu-bar{
                    background-color: $color-bg;
                }
            }
        }

        .logo{
            margin-top: 20px;
            @media (max-width: $medium) {
                text-align: center;
            }

            a{
                font-size: $h1;
                font-family: $logo-font;
                color: $color-bg;
            }
        }
    }

    .bottom-container{
        .link-container{
            ul{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                li{
                    margin: 10px 0;
                    

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color-font-sec;
                        color: $color-bg;
                        padding: 10px 0;
                        width: 100%;
                        border-right: 0;
                        &.active{
                            color: $color-bg;
                            background-color: $color-font;
                        }
                    }
                }
            }
        }
    }
}



// -------------------------------------------this is menu container 

.cart-drawer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .top-container{
        flex: 1;
    }
    .bottom-container{
        flex: 4;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;

        h3{
            font-weight: 400;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .singel-cart{
            display: flex;
            padding: 20px 10px;
            border-bottom: 1px solid rgba($color-font-sec, $alpha: 1.0);
            transition: $transition;

            &:hover{
                background-color: rgba($color-font-sec, $alpha: 0.1);
            }
            .img-container{
                flex: 1;
                cursor: pointer;
                img{
                    display: block;
                    width: 100%;
                    max-height: 150px;
                }
            }
            .item-content{
                flex: 2;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h4{
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0;
                }

                .price{
                    display: block;
                    margin: 5px 0;
                    font-size: 18px;
                    color: $color-font-sec;
                }

                .delete-btn{
                    max-width: 22px;
                    font-size: 22px;
                    transition: $transition;
                    cursor: pointer;
                    &:hover{
                        color: $color-hover;
                    }
                }

                .counter-container{
                    max-width: 150px;
                    margin-bottom: 10px;
                    .counter{
                        border: 2px solid $color-font;
                        border-radius: 30px;
                        display: flex;
                        padding: 10px;
            
                        span{
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            cursor: pointer;
                        }
            
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
            
                        input{
                            flex: 2;
                            display: block;
                            font-size: 16px;
                            width: 100%;
                            text-align: center;
                            border: none;
                            -moz-appearance: textfield;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .sub-total-container{
        flex: 2;
        padding: 10px;

        .subtotal{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            h4{
                font-weight: 400;
            }
        }

        .btn-container{
            label{
                display: flex;
                align-items: center;
                justify-content: center;

                input{
                    margin-right: 10px;
                }
            }
            button{
                width: 220px;
                height: 40px;
                margin: 20px auto;
                border-radius: 30px;

                &:hover{
                    background-color: $color-hover;
                    border-color: $color-hover;
                    color: $color-font
                }
            }
        }
    }
}



//search drawer

.search-drawer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .top-container{
    }

    .bottom-container{
        flex: 1;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
}



//menu global nav

.menu-container{
    display: none;
    @media (max-width: $medium) {
        display: block;
        flex: 1;
    }

    .menus{
        display: flex;
        flex-direction: column;
        .menu-bar{
            background: $color-font;
            width: 30px;
            height: 3px;
            margin: 3px 0;
            transition: all 0.3s ease-in-out;

            &:nth-child(2){
                width: 20px;
            }
        }
        &.active .menu-bar:first-child{
            transform: rotate(-45deg) translate(-9px, 4px);
        }
        &.active .menu-bar:nth-child(2){
            opacity: 0;
        }
        &.active .menu-bar:last-child{
            transform: rotate(45deg) translate(-8px, -5px);
        }
    }
}