$color-bg: #fff;
$color-bg-sec: rgb(240, 240, 240);
$color-font: #000;
$color-font-sec: rgb(109, 109, 109);
$color-hover: rgb(93, 217, 255);

$padding-margin-ex-lg: 150px;
$padding-margin-lg: 100px;
$padding-margin-md: 70px;
$padding-margin-sm: 50px;
$padding-margin-ex-sm: 20px;

$transition: all 0.3s ease-in-out;
//query
$large: 1100px;
$ex-medium: 900px;
$medium: 768px;
$small: 550px;
$extraSmall: 450px;

$heading: 70px;
$heading-sm: 50px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$font-base: 16px;
$font-base-lg: 18px;


.user-container{
    padding: 20px;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    .user-heading{
        h4{
            font-weight: 400;
            padding: 10px 20px;
            border-bottom: 1px solid $color-font-sec;
        }
    }

    .user-form{
        
        form{
            display: none;
            &.active{
                display: flex;
                flex-direction: column;
            }

            label{
                margin-top: 30px;
                margin-bottom: 10px;

                span{
                    color: red;
                }
                &:first-child{
                    margin-top: 0;
                }
            }

            input{
                padding: 10px;
                background-color: transparent;
                border: 1px solid $color-font-sec;
                width: 100%;
                &:focus{
                    outline: none;
                }
            }
        }

        button{
            height: 40px;
            border-radius: 30px;
            background-color: $color-hover;
            color: $color-font;
            margin: 30px 0;
        }

        .toggle{
            margin-bottom: 10px;
            color: $color-font-sec;

            span{
                color: $color-font;
                cursor: pointer;
            }
        }
    }
}